/* ======================== RESUME (Lebenslauf) ======================== */
.content-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content-blocks {
  gap: 1rem;
}

.resume-firstline {
  display: flex;
}

.content-blocks-heading {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.content-blocks-heading p {
  font-family: var(--font-mono);
}

.resume-text {
  list-style-position: inside;
}

.resume-text li {
  color: var(--color-text);
  line-height: 1.5rem;
}

/* ======================== COVER LETTER (Anschreiben) ======================== */
.application-date {
  text-align: right;
}

.content-blocks {
  list-style-position: inside;
}

.content-blocks li {
  line-height: 1.75rem;
}

.strong-p {
  font-weight: bold;
}
