---
layout: startseite
title: 'studio feiler ✷ Nachhaltige und barrierefreie Gestaltung'
---

<section class="intro">
  <div class="intro-content">
    <div class="intro-box boxradius">
      <div class="intro-image boxradius">
        <img
          src="assets/images/bild_startseite.png"
          alt="Hölzerner Dock umgeben von grünem Gras nahe Berg unter weißen Wolken und blauem Himmel tagsüber."
          width="600"
          height="400"
        />
      </div>
      <div class="intro-text">
        <div class="intro-text--element">
          <div class="intro-headline">
            <h1>Nachhaltige und barrierefreie Gestaltung</h1>
            <p class="code-style">
              Hi, ich bin Annabelle 👋 Digitale Tüftlerin und überzeugte
              Verfechterin von menschzentrierter Gestaltung.
            </p>
          </div>
          <p>
            Mit meiner Kreativpower unterstütze ich am liebsten NGOs und
            Einrichtungen aus der Kulturszene. Wollen wir ein Stück zusammen
            gehen?
          </p>

          <div class="button-wrapper">
            <a
              class="button primary"
              href="mailto:hello@studio-feiler.com?subject=Anfrage&body=Hi Annabelle,"
              aria-label="Annabelle direkt per E-Mail kontaktieren"
              title="Schreib mir eine E-Mail"
            >
              Schreib mir
            </a>
          </div>
        </div>

        <div class="social-icons">
          <a href="https://github.com/enaaacode" target="_blank" rel="noopener">
            <img src="assets/icons/github.svg" alt="" title="GitHub" />
          </a>
        </div>
      </div>
    </div>

    <div class="intro-grid">
      {% for item in site.data.fakten-grid %}
      <div class="intro-grid-box boxradius">
        <div class="intro-grid-zahl">{{item.kennzahl}}</div>
        <div class="intro-grid-text">{{item.beschreibung}}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- 
<div class="contentsite">

   Leistungen

   <div class="heading">
    <h1>Ich mache Sachen</h1>
  </div>
  <section class="leistungen" id="leistungen">
    {% for item in site.leistungen %}
    <div class="content-box boxradius">
      <h2>{{ item.title }}</h2>

      {{ item.beschreibung }}

      <details>
        <summary><strong>Mögliche Projekte</strong></summary>
        {{ item.content }}
      </details>
    </div>
    {% endfor %}
  </section>

  <div class="button-wrapper">
    <a
      class="button primary"
      href="mailto:hello@studio-feiler.com?subject=Anfrage&body=Hi Annabelle,"
      aria-label="Annabelle direkt per E-Mail kontaktieren"
      title="Schreib mir eine E-Mail"
    >
      Projekt anfragen
    </a>
  </div>
 
</div> 
-->
