<section class="a11y-webring-club boxradius">
  <div id="a11y-webring-club">
    <h2>a11y-webring.club</h2>
    <p>
      Diese Website ist Mitglied des
      <a rel="external" href="https://a11y-webring.club/">a11y-webring.club</a>.
    </p>
  </div>

  <div class="a11y-grid">
    <div class="a11y-box">
      <a
        rel="external"
        referrerpolicy="strict-origin"
        href="https://a11y-webring.club/prev"
        >Vorherige Website</a
      >
    </div>
    <div class="a11y-box">
      <a
        rel="external"
        referrerpolicy="strict-origin"
        href="https://a11y-webring.club/random"
        >Zufällige Website</a
      >
    </div>
    <div class="a11y-box">
      <a
        rel="external"
        referrerpolicy="strict-origin"
        href="https://a11y-webring.club/next"
        >Nächste Website</a
      >
    </div>
  </div>
</section>
