<footer class="site-footer">
  <div class="site-footer__inner">
    <p class="site-footer__claim">
      💜
      <br />
      Diese Seite wurde mit HTML, CSS und JavaScript selbst gemacht.
      <br />
      Ganz ohne unnötigen Schnickschnack. Einfach, funktional und
      umweltfreundlich.
      <br />
      <strong>Weniger Code, weniger Energieverbrauch.</strong>
    </p>

    <div class="site-footer__meta--links">
      <a href="/impressum.html" class="site-footer__link">Impressum</a>
      <a href="/datenschutz.html" class="site-footer__link">Datenschutz</a>
      <a href="/barrierefreiheit.html" class="site-footer__link">
        Barrierefreiheit
      </a>
    </div>
  </div>
</footer>

<button id="myBtn" onclick="topFunction()" aria-label="Nach oben">
  <img src="/assets/icons/arrow-up-solid.svg" />
</button>
