<footer class="site-footer">
  <div class="site-footer__inner">
    <div class="site-footer__meta--links">
      <a href="/impressum" class="site-footer__link">Impressum</a>
      <a href="/datenschutz" class="site-footer__link">Datenschutz</a>
      <a href="/barrierefreiheit" class="site-footer__link">Barrierefreiheit</a>
      <a href="https://studio-feiler.com/feed" class="site-footer__link">
        RSS Feed
      </a>
    </div>
  </div>
</footer>

<button id="myBtn" onclick="topFunction()" aria-label="Nach oben">
  <img src="/assets/icons/arrow-up-solid.svg" alt="" />
</button>
