<header class="site-header">
  <div class="site-header__inner">
    <a href="/" class="site-header__title">
      <img
        src="/assets/logo/studio_feiler_logo.gif"
        alt="Annabelle Logo"
        width="200"
        class="site-header__logo" />
    </a>

    <nav class="site-header__nav">
      <ul class="site-header__list">
        <li class="site-header__item">
          <a
            href="/index.html"
            class="site-header__link{% if page.url == '/' or page.url == '/index.html' %} active{% endif %}"
            >Start</a
          >
        </li>
        <li class="site-header__item">
          <a href="/index.html#leistungen" class="site-header__link"
            >Leistungen</a
          >
        </li>
        <li class="site-header__item">
          <a
            href="/about.html"
            class="site-header__link{% if page.url == '/about.html' %} active{% endif %}"
            >Über mich</a
          >
        </li>
        <li class="site-header__item">
          <a href="/index.html#blog" class="site-header__link">Blog</a>
        </li>
        <li class="site-header__item">
          <a
            href="mailto:hello@annabelle-feiler.com?subject=Anfrage&body=Hi Annabelle,"
            class="site-header__link"
            target="_blank"
            >Kontakt</a
          >
        </li>
      </ul>
    </nav>

    <!-- Burger-Menü Button für Mobile -->
    <nav class="burger-menue">
      <a href="javascript:void(0);" id="burger-icon">
        <img src="assets/icons/burger_menue.svg" alt="Burger Menu" />
      </a>
    </nav>

    <!-- Overlay für das mobile Menü -->
    <div id="mobile-overlay" class="mobile-overlay">
      <div class="close-button" id="close-button">
        <img src="assets/icons/xmark.svg" alt="Schließen" />
      </div>
      <nav class="mobile-nav">
        <ul>
          <li><a href="/index.html">Start</a></li>
          <li><a href="/index.html#leistungen">Leistungen</a></li>
          <li><a href="/about.html">Über mich</a></li>
          <li><a href="/index.html#blog">Blog</a></li>
          <li>
            <a
              href="mailto:hello@annabelle-feiler.com?subject=Anfrage&body=Hi Annabelle,"
              >Kontakt</a
            >
          </li>
          <li><a href="/impressum.html">Impressum</a></li>
          <li><a href="/datenschutz.html">Datenschutz</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
