<section class="intro">
  <div class="intro-content">
    <div class="intro-box boxradius">
      <div class="intro-image boxradius">
        <img src="assets/images/annabelle_portrait.png" />
      </div>
      <div class="intro-text">
        <div class="intro-headline">
          <h1>Hi! Ich bin Annabelle 👋</h1>
          <p class="code-style">
            Digitale Tüftlerin & überzeugte Verfechterin von nutzer<span
              class="font-accent"
              aria-hidden="true"
              >*</span
            >innenzentriertem Design.
          </p>
        </div>
        <p>
          Willkommen auf meiner Seite, wie schön dass du hier bist! Hier stelle
          ich meine Projekte vor, gebe dir einen Einblick in meine Leistungen
          und zeige was mich fasziniert. Schau dich um, lass dich inspirieren &
          wenn du magst, schreib mir deine Gedanken dazu!
        </p>
        <div class="button-wrapper">
          <button class="button-primary">
            <a
              href="mailto:hello@annabelle-feiler.com?subject=Anfrage&body=Hi Annabelle,"
              aria-label="Annabelle direkt per E-Mail kontaktieren"
              >Schreib mir</a
            >
          </button>
        </div>
      </div>
    </div>

    <div class="intro-grid">
      <div class="intro-grid-box boxradius">
        <div class="intro-grid-zahl">2017</div>
        <div class="intro-grid-text">Freiberuflich gestartet</div>
      </div>
      <div class="intro-grid-box boxradius">
        <div class="intro-grid-zahl">50+</div>
        <div class="intro-grid-text">Projekte realisiert</div>
      </div>
      <div class="intro-grid-box boxradius">
        <div class="intro-grid-zahl">∞</div>
        <div class="intro-grid-text">Ideen im Kopf</div>
      </div>
      <div class="intro-grid-box boxradius">
        <div class="intro-grid-zahl">100%</div>
        <div class="intro-grid-text">Herz fürs Detail</div>
      </div>
    </div>
  </div>
</section>
