/* ========== RESET ========== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
}

/* ========== VARIABLEN ========== */
:root {
  --color-bg: #0d172c;
  --color-text: #d0d0d0;
  --color-text-heading: #ffffff;
  --color-accent: #d4145a;

  --font-body: "DM Sans", sans-serif;
  --font-heading: "DM Sans", sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;

  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --line-height: 1.4;

  --spacing: 2rem;
  --gap: 1rem;
  --radius: 0.5rem;
  --max-width: 1000px;
}

/* ========== FONTS ========== */
@font-face {
  font-family: "DM Sans";
  font-weight: 100 700;
  font-style: normal;
  src: url("/assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf")
    format("truetype");
}

/* ========== BASISSTIL ========== */
body {
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);
  color: var(--color-text);
  background-color: var(--color-bg);
  padding: var(--spacing);
}

/* ========== LAYOUT ========== */
main {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  text-align: center;
}

/* ========== TYPOGRAFIE ========== */
h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-heading);
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: var(--font-size-base);
}
